interactions:
- request:
    body: '{"name":"Event Stream: order.created","topic":"order.created","delivery_url":"https://ingress.aurumor.com/webhooks/woocommerce","secret":"whsec_live_12345","status":"active"}'
    headers:
      Authorization:
      - DUMMY_AUTH_HEADER
      content-type:
      - application/json
    method: POST
    uri: https://badsyxn.capybaara.com/wp-json/wc/v3/webhooks
  response:
    body:
      string: '{"id":1,"name":"Event Stream: order.created","status":"active","topic":"order.created","resource":"order","event":"created","hooks":["woocommerce_new_order"],"delivery_url":"https:\/\/ingress.aurumor.com\/webhooks\/woocommerce","date_created":"2026-08-17T00:47:46","date_created_gmt":"2026-08-16T19:17:46","date_modified":null,"date_modified_gmt":null,"_links":{"self":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/webhooks\/1","targetHints":{"allow":["GET","POST","PUT","PATCH","DELETE"]}}],"collection":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/webhooks"}]}}'
    headers:
      allow:
      - GET, POST
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://badsyxn.capybaara.com/wp-json/>; rel="https://api.w.org/"
      location:
      - https://badsyxn.capybaara.com/wp-json/wc/v3/webhooks/1
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"Event Stream: order.updated","topic":"order.updated","delivery_url":"https://ingress.aurumor.com/webhooks/woocommerce","secret":"whsec_live_12345","status":"active"}'
    headers:
      Authorization:
      - DUMMY_AUTH_HEADER
      content-type:
      - application/json
    method: POST
    uri: https://badsyxn.capybaara.com/wp-json/wc/v3/webhooks
  response:
    body:
      string: '{"id":2,"name":"Event Stream: order.updated","status":"active","topic":"order.updated","resource":"order","event":"updated","hooks":["woocommerce_update_order","woocommerce_order_refunded"],"delivery_url":"https:\/\/ingress.aurumor.com\/webhooks\/woocommerce","date_created":"2026-08-17T00:47:46","date_created_gmt":"2026-08-16T19:17:46","date_modified":null,"date_modified_gmt":null,"_links":{"self":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/webhooks\/2","targetHints":{"allow":["GET","POST","PUT","PATCH","DELETE"]}}],"collection":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/webhooks"}]}}'
    headers:
      allow:
      - GET, POST
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://badsyxn.capybaara.com/wp-json/>; rel="https://api.w.org/"
      location:
      - https://badsyxn.capybaara.com/wp-json/wc/v3/webhooks/2
    status:
      code: 201
      message: Created
version: 1
