interactions:
- request:
    body: '{"name":"Integ Category 7b86be"}'
    headers:
      Authorization:
      - DUMMY_AUTH_HEADER
      content-type:
      - application/json
    method: POST
    uri: https://badsyxn.capybaara.com/wp-json/wc/v3/products/categories
  response:
    body:
      string: '{"id":102,"name":"Integ Category 7b86be","slug":"integ-category-7b86be","parent":0,"description":"","display":"default","image":null,"menu_order":0,"count":0,"_links":{"self":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/products\/categories\/102","targetHints":{"allow":["GET","POST","PUT","PATCH","DELETE"]}}],"collection":[{"href":"https:\/\/badsyxn.capybaara.com\/wp-json\/wc\/v3\/products\/categories"}]}}'
    headers:
      allow:
      - GET, POST
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://badsyxn.capybaara.com/wp-json/>; rel="https://api.w.org/"
      location:
      - https://badsyxn.capybaara.com/wp-json/wc/v3/products/categories/102
    status:
      code: 201
      message: Created
version: 1
