interactions:
- request:
    body: ''
    headers:
      Authorization:
      - DUMMY_AUTH_HEADER
      content-type:
      - application/json
    method: GET
    uri: https://badsyxn.capybaara.com/wp-json/wc/v3/system_status
  response:
    body:
      string: '{"environment":{"home_url":"https:\/\/badsyxn.capybaara.com","site_url":"https:\/\/badsyxn.capybaara.com","store_id":"0335ac3d-687d-44b2-8567-0c3cce2fd664","version":"11.0.1","log_directory":"\/home\/capybaara-badsyxn\/htdocs\/badsyxn.capybaara.com\/wp-content\/uploads\/wc-logs\/","log_directory_writable":true,"wp_version":"7.0.4","wp_multisite":false,"wp_memory_limit":2147483648,"wp_debug_mode":true,"wp_cron":true,"wp_environment_type":"production","language":"en_US","external_object_cache":null,"server_info":"nginx\/1.26.2","server_architecture":"Linux
        6.8.0-1018-gcp x86_64","php_version":"8.4.2","php_post_max_size":5368709120,"php_max_execution_time":600,"php_max_input_vars":10000,"curl_version":"8.5.0,
        OpenSSL\/3.0.13","suhosin_installed":false,"max_upload_size":5368709120,"mysql_version":"8.0.31","mysql_version_string":"8.0.31-google","default_timezone":"UTC","fsockopen_or_curl_enabled":true,"soapclient_enabled":true,"domdocument_enabled":true,"gzip_enabled":true,"mbstring_enabled":true,"remote_post_successful":true,"remote_post_response":"200","remote_get_successful":true,"remote_get_response":"200"},"database":{"wc_database_version":"11.0.1","database_prefix":"wp_","maxmind_geoip_database":"","database_tables":{"woocommerce":{"wp_woocommerce_sessions":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_api_keys":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_attribute_taxonomies":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_woocommerce_downloadable_product_permissions":{"data":"0.02","index":"0.06","engine":"InnoDB"},"wp_woocommerce_order_items":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_woocommerce_order_itemmeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_tax_rates":{"data":"0.02","index":"0.06","engine":"InnoDB"},"wp_woocommerce_tax_rate_locations":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_shipping_zones":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_woocommerce_shipping_zone_locations":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_shipping_zone_methods":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_woocommerce_payment_tokens":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_woocommerce_payment_tokenmeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_woocommerce_log":{"data":"0.02","index":"0.02","engine":"InnoDB"}},"other":{"wp_actionscheduler_actions":{"data":"0.39","index":"0.56","engine":"InnoDB"},"wp_actionscheduler_claims":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_actionscheduler_groups":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_actionscheduler_logs":{"data":"0.23","index":"0.20","engine":"InnoDB"},"wp_commentmeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_comments":{"data":"0.02","index":"0.09","engine":"InnoDB"},"wp_duplicator_activity_logs":{"data":"20.55","index":"4.53","engine":"InnoDB"},"wp_duplicator_backups":{"data":"134.02","index":"1.17","engine":"InnoDB"},"wp_duplicator_entities":{"data":"0.05","index":"0.14","engine":"InnoDB"},"wp_e_events":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_e_submissions":{"data":"0.02","index":"0.27","engine":"InnoDB"},"wp_e_submissions_actions_log":{"data":"0.02","index":"0.11","engine":"InnoDB"},"wp_e_submissions_values":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_icl_background_task":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_content_status":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_core_status":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_flags":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_languages":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_icl_languages_translations":{"data":"0.20","index":"0.09","engine":"InnoDB"},"wp_icl_links_post_to_post":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_links_post_to_term":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_locale_map":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_message_status":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_icl_mo_files_domains":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_node":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_reminders":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_string_batches":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_string_packages":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_string_positions":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_string_status":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_string_translations":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_icl_strings":{"data":"0.06","index":"0.09","engine":"InnoDB"},"wp_icl_translate":{"data":"0.13","index":"0.02","engine":"InnoDB"},"wp_icl_translate_job":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_icl_translation_batches":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_translation_downloads":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_icl_translation_status":{"data":"0.14","index":"0.06","engine":"InnoDB"},"wp_icl_translations":{"data":"0.41","index":"0.80","engine":"InnoDB"},"wp_links":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_options":{"data":"5.05","index":"0.09","engine":"InnoDB"},"wp_postmeta":{"data":"12.47","index":"0.75","engine":"InnoDB"},"wp_posts":{"data":"3.52","index":"0.56","engine":"InnoDB"},"wp_revslider_css":{"data":"0.13","index":"0.02","engine":"InnoDB"},"wp_revslider_layer_animations":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_revslider_navigations":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_revslider_sliders":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_revslider_sliders7":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_revslider_slides":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_revslider_slides7":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_revslider_static_slides":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_rzp_webhook_requests":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_term_relationships":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_term_taxonomy":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_termmeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_terms":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_tm_taskmeta":{"data":"0.09","index":"0.03","engine":"InnoDB"},"wp_tm_tasks":{"data":"0.08","index":"0.02","engine":"InnoDB"},"wp_usermeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_users":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_wc_admin_note_actions":{"data":"0.06","index":"0.02","engine":"InnoDB"},"wp_wc_admin_notes":{"data":"0.06","index":"0.00","engine":"InnoDB"},"wp_wc_category_lookup":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wc_customer_lookup":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_download_log":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_email_unsubscribes":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wc_order_addresses":{"data":"0.02","index":"0.06","engine":"InnoDB"},"wp_wc_order_coupon_lookup":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_order_operational_data":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_order_product_lookup":{"data":"0.02","index":"0.06","engine":"InnoDB"},"wp_wc_order_stats":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_wc_order_tax_lookup":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_orders":{"data":"0.02","index":"0.11","engine":"InnoDB"},"wp_wc_orders_meta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_product_attributes_lookup":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wc_product_download_directories":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wc_product_meta_lookup":{"data":"0.02","index":"0.11","engine":"InnoDB"},"wp_wc_rate_limits":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wc_reserved_stock":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wc_tax_rate_classes":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wc_webhooks":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wfauditevents":{"data":"0.05","index":"0.00","engine":"InnoDB"},"wp_wfblockediplog":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfblocks7":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_wfconfig":{"data":"1.33","index":"0.00","engine":"InnoDB"},"wp_wfcrawlers":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wffilechanges":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wffilemods":{"data":"15.55","index":"0.00","engine":"InnoDB"},"wp_wfhits":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_wfhoover":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wfissues":{"data":"0.06","index":"0.06","engine":"InnoDB"},"wp_wfknownfilelist":{"data":"7.52","index":"0.00","engine":"InnoDB"},"wp_wflivetraffichuman":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wflocs":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wflogins":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_wfls_2fa_secrets":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_wfls_role_counts":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfls_settings":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfnotifications":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfpendingissues":{"data":"0.02","index":"0.06","engine":"InnoDB"},"wp_wfreversecache":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfsecurityevents":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfsnipcache":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_wfstatus":{"data":"0.14","index":"0.09","engine":"InnoDB"},"wp_wftrafficrates":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wfwaffailures":{"data":"0.02","index":"0.00","engine":"InnoDB"},"wp_wpo_404_detector":{"data":"0.02","index":"0.05","engine":"InnoDB"},"wp_yith_wcwl":{"data":"0.02","index":"0.02","engine":"InnoDB"},"wp_yith_wcwl_itemmeta":{"data":"0.02","index":"0.03","engine":"InnoDB"},"wp_yith_wcwl_lists":{"data":"0.02","index":"0.03","engine":"InnoDB"}}},"database_size":{"data":204.27000000000103,"index":11.979999999999979}},"active_plugins":[{"plugin":"advanced-custom-fields\/acf.php","name":"Advanced
        Custom Fields","version":"6.8.7","version_latest":"6.8.7","url":"https:\/\/www.advancedcustomfields.com","author_name":"WP
        Engine","author_url":"https:\/\/wpengine.com\/?utm_source=wordpress.org&#038;utm_medium=referral&#038;utm_campaign=plugin_directory&#038;utm_content=advanced_custom_fields","network_activated":false},{"plugin":"better-search-replace\/better-search-replace.php","name":"Better
        Search Replace","version":"1.4.11","version_latest":"1.4.11","url":"https:\/\/bettersearchreplace.com","author_name":"WP
        Engine","author_url":"https:\/\/bettersearchreplace.com","network_activated":true},{"plugin":"contact-form-7\/wp-contact-form-7.php","name":"Contact
        Form 7","version":"6.1.6","version_latest":"6.1.6","url":"https:\/\/contactform7.com\/","author_name":"Rock
        Lobster[...]
